html {
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
	background: #001821;
	font-size: 14px;
	line-height: 21px;
	font-family: "Open Sans", Helvetica, sans-serif;
}

button {
	border: none;
	cursor: pointer;
	background: transparent;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}

.main-page-wrapper {
	background: url(../../img/el.png) center top no-repeat, url(../../img/m.png) right bottom 62px no-repeat;
}

.container{
  margin: auto;
  width: 1141px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	min-width: 1200px;
}

.hello__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 203px;
}

.hello {
	margin-bottom: 259px;
}

.hello__text {
	width: 45%;
}

.hello__title {
	width: 510px;
	height: 186px;
	font-size: 72px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 35px;
}

.hello__subtitle {
	font-size: 18px;
	color:  #fff;
	margin-bottom: 30px;
}

.button {
	background: #F5170E;
	width: 167px;
	border-radius: 35px;
	padding: 18px 39px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
  display: flex;
}

.title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 54px;
	width: 325px;
	height: 35px;
	display: flex;
}

.fire {
	display: flex;
	vertical-align: top;
	height: 28px;
	margin-left: 15px;
}

.offers {
	display: flex;
	justify-content: space-between;
	margin-bottom: 138px;
}

.offers__item {
	width: calc(100% / 3 - 19px);
}

.offers__list{
	display: flex;
	justify-content: space-between;
}

.offer {
	min-height: 448px;
	background: #FFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.offer__item:last-child {
	margin-right: 0;
} 

.offer__content{
	padding: 25px 22px;
	padding-top: 36px;
	color: #000000;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.offer__title {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 29px;
}

.offer__features {
	display: flex;
	justify-content: space-between;
}

.offer__feature {
	vertical-align: top;
	width: 140px;
	height: 45px;
	margin-right: 25px;

}

.offer__feature-img {
	display: flex;
	margin-right: 0;
}

.offer__features:last-child {
	margin-right: 0;
}

.offer__feature-text {
	color:  #666666;
	margin-top: -24px;
	margin-left: 42px;
	margin-bottom: 0;
	display: flex;
	font-size: 16px;
	vertical-align: top;
}

.offer__text {
	color: #303030;
	margin-bottom: 25px;
	display: flex;
	justify-content: space-between;
}

.button__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.button__button--light {
	border: 1px solid #F5170E;
	border-radius: 35px;
	padding: 16px 30px;
	color: #F5170E;
	font-weight: bold;
	text-transform: uppercase;
  display: flex;
	transition: 0.5s;
}

.button__button--light:hover {
	background: #F5170E;
	color: #fff;
	
}

.news {
	margin-bottom: 145px;
}

.news__list {
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
}

.news__item {
	margin-right: 2%;
	flex: 1;
}

.single-news {
	position: relative;
	border-radius: 4px; ;
	overflow: hidden;
}

.news__item:last-child {
	margin-right: 0;
}

.single-news__img {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.single-news__content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 25px 29px;
	min-height: 170px;
}

.single-news__date {
	display: flex;
	font-size: 14px;
	margin-bottom: 18px; 
	text-transform:none;
}

.single-news__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.single-news__lid {
	letter-spacing: 1.2px;
}

.pager {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pager__display{
	margin-right: 26px;
	font-size: 16px;
}

.pager__item {
	text-align: center;
}

.pager__list {
	display: flex;
	align-items: center;
}

.pager__link:hover {
	color: #F5170E;
	background: #FFFFFF;
}

.pager__link {
	display: flex;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
	justify-content: center;
	transition: 0.3s;
}

.about:before {
	content: "";
	display: flex;
	width: 490px;
	height: 505px;
	background: url(../../img/gates.png) center center / cover no-repeat ;
}

.about {
	display: flex;
}

.about__desc {
	background: url(../../img/mountains.png);
	padding: 84px 199px 80px 85px;
	max-width: 839px;
	height: 455px;
	margin-left: -138px;
	margin-top: 98px;
}

.about__title{
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 54px;
	color: #000000;
}

.about__desc-text {
	display: flex;
	margin-bottom: 42px;
	color: #000000;
	width: 501px;
	height: 130px;
	font-size: 16px;
	line-height: 27px;
}

.about__desc-text p {
	margin-bottom: 20px;
}

.about__desc-text p:last-child {
	margin-bottom: 0;
}

.section {
	margin-bottom: 69px;
}
