.header--r {
  margin-bottom: 28px;
}

.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 390px;
}

.top-line {
  min-height: 413px;
  background: url(../../img/headline.png) right 52% top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 37px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
  text-decoration: underline;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active {
  color: #9A9A9A;
  font-weight: bold;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.page-content {
  background: #fff;
  color:  #303030;
  padding: 75px 0;
}

.services {
  margin-bottom: 38px;
}

.service {
  display: flex;
  padding: 25px 0;
}

 .service__btn:hover {
  background: #F5170E;
  color: #FFFFFF;
}

.service__btn {
  transition: 0.5s;
}

.service__img {
  width: 41%;
  margin-right: 4%;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 44px;
  color: #000000;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 34px;
  font-size: 16px;
}

.btn {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.btn--color--red {
	border: 1px solid #F5170E;
	border-radius: 35px;
	padding: 16px 41px;
	color: #F5170E;
	font-weight: bold;
	text-transform: uppercase;
  display: inline-block;
}

.pager {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pager__display{
	font-size: 16px;
  width: 125px;
}

.pager__i {
	text-align: center;
  margin-right: 2px;
  font-size: 16px;
}

.pager__l {
	display: flex;
	align-items: center;
  width: 185px;
}

.pager__lk:hover {
	color: #FFFFFF;
	background: #F5170E;
}

.pager__lk {
	display: flex;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: bold;
	line-height: 32px;
  justify-content: center;
  transition: 0.5s;
}

.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding: 120px 0 80px;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 79px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin-left: -41px;
}

.partners__item {
  margin-left: 20px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 269px;
  height: 123px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  transition: 0.5s;
}

.partners__link--luf {
  justify-content: end;
}

.partners__item--luf {
  margin-left: 45px;
}

.partners__item--balt {
  margin-left: 0
}

.partners__item--pegasus {
  margin-left: 5px
}

.partners__item--pegas {
  margin-left: 30px
}

.partners__link:hover {
  filter: grayscale(0);
}

.inner-footer__container {
  padding: 17px 0;
}

.inner-footer {
  margin-top: auto;
}

.soc {
  display: flex;
  justify-content: space-between;
  margin-right: 252px;
  margin-bottom: 38px;
  margin-top: 40px;
 }
